<%- include('header'); %>
  <section id="FirstSection">
    <div id="textTitle">
      <h1>Belzebuth</h1>
      <p>Piano Bar/Pub</p>
    </div>

    <div class="ContainerReseau">
      <p onclick="Reseau1()">X</p>

    <a href="https://www.facebook.com/Le-Belz%C3%A9buth-1680882552160603/">
      <div class="blockFB block">
        <div class="HeaderBlock"></div>
          <i class="fa-brands fa-facebook"></i>
            <h4>Pour acceder à notre page Facebook</h4>
      </div>
    </a>
    <a href="https://www.instagram.com/le_belzebuth/">
      <div class="blockInst block">
        <div class="HeaderBlock"></div>
          <i class="fa-brands fa-instagram"></i>
            <h4>Pour acceder a notre instagram</h4>
      </div>
    </a>
      <div class="blockMail block" onclick="Email()">
        <div class="HeaderBlock"></div>
          <i class="fa-solid fa-envelope"></i>
          <h4>Pour nous envoyer un mail directement</h4>
      </div>
    </div>
        <div class="ContainerEmail">
          <p onclick="Email1()">X</p>
          <form id="email" action="/email" method="post">
              <div>
                  <label for="Last_name">Nom :</label>
                  <input type="text" id="Last_name" name="Last_name">
              </div>
              <div>
                <label for="Name">Prénom :</label>
                <input type="text" id="Name" name="Name">
            </div>
              <div>
                  <label for="E_mail">E-mail:</label>
                  <input type="E_mail" id="E_mail" name="E_mail">
              </div>
              <div>
                <label for="Numéros">Numéros :</label>
                <input type="INT" id="Numeros" name="Numeros">
            </div>
              <div>
                  <label for="E_Message">Message :</label>
                  <input type="test" id="msg" name="E_Message">
              </div>
              <input id="boutonEmail" class="btnmail" type="submit" value="Envoyer">
            </form> 
            
        </div>

<img id="imageTop" src="../img/fond-FirstSection (1).png"/>
<img id="imageBottom" src="../img/fond-FirstSection.png"/>
  </section>
  <section id="SndSection">
    <a href="/NosProduits">
    <div class="containerProduit">
        <h2 class="TitleProduct">
          Nos Produits
        </h2>
      <div class="containerNodeProduct">
      <% for(type of types) {%>
        <div class="nodeProduct">
         <%= type.Type %>
        </div>
      <%}%>
      </div>
      <div class="containerPhoto">
        <img class="img0" src="../img/Cocktail.png"/>
        <img class="img1" id="img1" data-parallax="0.2" src="../img/Cocktail1.png"/>
        <img class="img2" src="../img/Cocktail2.png"/>
        <img class="img3" id="img3" data-parallax="0.2" src="../img/Cocktail3.png"/>
      </div>
    </div>
  </a>
  </section>
  <section id="TrdSection">
    <div class="triangle"></div>
      <div class="containerEvent">
        <div class="concert Event">
          <div class="photo">
            <img src="../img/event_concert.jpg" alt="">
          </div>
          <div class="Texte">
            <h1>Nos concerts</h1>

            <p class="Texte1">Retrouvez toutes les dates de nos evenements musicaux. 
              La musique au Belzebuth c'est un concert toutes les 2-3 semaines, 
              c'est un musiciens de 17h a 20h tous les jeudi soir</p>
          
            <p>En savoir plus:</p>
          </div>
        </div>
        <div class="happySong Event">
          <div class="photo">
            <img src="../img/event_musique.jpg" alt="">
          </div>
          <div class="Texte">
            <h1>La Happy song</h1>
            <p class="Texte1">Chaque semaine, viens decouvrir la musique du moment.
              Cette musique ce n'est pas n'importe quelle musique. Elle t 'apportera avantages et bonheur. 
              Hésite pas, check là et découvre sont fonctionnement</p>
            <p>Découvre la maintenant:</p>
          </div>
        </div>
        <div class="produitMoment Event">
          <div class="photo">
            <img src="../img/event_produit.jpg" alt="">
          </div>
          <div class="Texte">
            <h1>Les produits du moment</h1>
            <p class="Texte1">Le Bezlebuth c'est des pressions, mais aussi des bières bouteilles. Du vins d'ici et d'ailleur, des alcools fort, ainsi que des sodas et jus, sans oublier notre gammes de planches.
              C'est aussi et surtout, des cocktails maison, des shooters, des punchs et planteurs fait par nos soins.
            </p>
            <p>Découvre les maintenant:</p>
          </div>
        </div>
      </div>
  </section>
  <article class="containerCom">
    <div id="Comments">
        <form id="commentaire" method="post" action="/">
            <div class="champ part1">
              <label for="Nom">Nom:</label>
              <input type="text" id="nom" name="Nom" require >
            </div>
            <div class="champ part2">
              <label for="Prenom">Prénom :</label>
              <input type="text" id="prenom" name="Prenom">
            </div>
            <div class="champ part3">
              <label for="Email">Adresse mail :</label>
              <input type="email" id="mail" name="Email">
             </div>
             <div class="champ part4">
              <label for="Message">Commentaire:</label>
              <input type="text" id="Message" name="Message" placeholder=" Votre commentaire tout mignon" textarea="">
             </div>
            <input id="bouton" class="btncom" type="submit" value="Envoyer">
        </form>
        <% if (locals.flash && locals.flash.success){ %>
            <div> <%= flash.success %> </div>
            <% } %>
        <% if (locals.flash && locals.flash.error){ %>
            <div> <%= flash.error %> </div>
            <% } %>
            <div class="Testrendu"></div>
    </div>
    <div id="affichageCom">
      <% for (comment of comments) {%>
        <div class="affichageUnite">
          <div class="identifiant">
          <%= comment.Nom %>
          <%= comment.Prenom %>
        </div>
          <div class="message"><%= comment.Message %></div>
          
          <div class="date"><%= comment.created_at %></div>
          
        </div>
      <%}%>
    </div>
  </article>
  <article class="containerConnexion">
    <form id="identification" method="post" action="/backOffice">
      <div class="champ part1">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" required >
      </div>
      <div class="champ part2">
        <label for="Password">Password :</label>
        <input type="text" id="password" name="Password" required>
      </div>
      <input id="bouton" type="submit" value="Login">
    </form>
    <p class="fermeture" onclick="connexion2()">X</p>
  </article class="containerPlan">
  <h2 class="Plan">Ou nous trouver?</h1>
    <nav>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2721.5031285840055!2d3.1627598158051264!3d46.99109313828553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f04f68bacf0703%3A0x8e5891d1b682ab40!2sLe%20Belz%C3%A9buth!5e0!3m2!1sfr!2sfr!4v1661766013996!5m2!1sfr!2sfr" width="1500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </nav>
<footer>
  <p>l'abus d'alcool est dangereux pour la santé. En accédant à notre site vous déclarez avoir 18 ans.</p>
  <p>design et conception <span>GINOUVEZ Jérôme</span>.</p> 
  <p onclick="connexion1()">Le Belzebuth</p>
</footer>

<script src="./js/main.js"></script>   
</body>
</html>
