<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styleNosProduits.css" type="text/css"> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Nos Produits</title>
</head>
<body>
    <nav id="navbar">
       <a href="/"> <img class="Logo" src="../img/logo-Belzebuth.png" alt="logo belzebuth"></a>
        <% for(type of types) {%>
            <div class="nodeProduct">
                <a href="#<%= type.Type %>"><p><%= type.Type %></p></a>
            </div>
        <%}%>
    </nav>
    <% for(type of types) {%>
        <article id="<%=type.Type %>" class="<%= products.ID_Product %>">
            <h2 onclick="deplier('<%=type.ID_Product %>')"><%= type.Type %></h2>
            <img src="../img/<%= type.Picture %>" alt="photo de <%= type.Type %>">

            <nav class="containerProduit">
                <p onclick="deplier1()">X</p>
                <div class="BlockProduit">
                    <div class="block1" id="<%= type.ID_Product %>">
                        <div class="blockTitre">
                            <h4><%= type.Type %></h4>
                            <p><%= type.Descriptif %></p>
                        </div>
                    </div>
                    <div class='block2'>
                        
                    </div>
    
    
                    </div>
                    
                </div>
            </nav>


        </article>
        <%}%>
        
  <script src="./js/NosProduits.js"></script>
</body>
</html>